.App {
  text-align: center;
}

.event-grid {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.event-card {
  width: 300px;
  padding: 20px;
  border: 2px solid black;
}

.comments:nth-child(even) {
  background-color: #f2f2f2;
}

.input-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form > * {
  width: 300px;
  padding: 0px 20px;
}

.form-button {
  width: inherit;
}
.navbar-wrapper {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.page-wrapper {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.passed-event-card {
  width: 300px;
  padding: 20px;
  border: 2px solid rgb(151, 151, 151);
  background-color: rgba(209, 209, 209, 0.5);
  color: rgb(199, 199, 199);
}

.error-message {
  color: red;
}
